numpy==1.24.4
ogb==1.3.6
optuna==3.6.1
optuna-dashboard==0.15.1
pandas==2.2.2
requests==2.25.1
scikit-learn==1.5.0
scipy==1.8.0
sympy==1.13.1
torch==2.3.0+cu118
torch-geometric==2.6.1
torch_cluster==1.6.3+pt23cu118
torch_scatter==2.1.2+pt23cu118
torch_sparse==0.6.18+pt23cu118
torch_spline_conv==1.2.2+pt23cu121
tqdm==4.66.4
